/*Colour Pallatte*/
:root {
    --darkpink: #711c91;
    --pink: 	  #ea00d9;
    --cyan:     #0abdc6;
    --ocean: 	  #133e7c;
    --dark:   	#091833;
  }

body{
    background-color: var(--dark);
    color: var(--cyan);
    font-family: hermit, 'anonymous pro', 'ubuntu mono', Courier, 'monospace';
} 
.header {
    background-color: var(--darkpink);
    width: 80%;
    margin: auto;
    border: var(--pink);
    padding: 1em;
}
.tHeader{
   font-size: 1.77em;
   width: 55%;
   margin: auto;
   padding-left: 10%;
   padding-right: 10%;
}
a{
    color: var(--ocean);

}
video{
    align-items: center;
    margin: auto;
    
}
input[type=button], input[type=submit], input[type=reset] {
    /* background-image: url(pics/images.jpeg); */
    background-color: var(--darkpink);
    background-size: cover;
    border: none;
    color: var(--dark);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    
  }
.main{
    font-size: 2em;
    text-align: center;
    margin-left: 20%;
    margin-right:20%;
    margin-top: 1%;
}
.testText{
    background-color: var(--ocean);
    color: var(--cyan);
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    border-width: 1px;
    border-color: var(--darkpink);
    border-style: solid;


}
.form {
    margin: auto;
    width: 50%;
}
.footer{
    text-align: center;
    padding: .5em; 
    margin-top: 1em;
    background-color: #711c91;
    width: 80%;
    margin: auto;
}
textarea, iframe {
    border: 2px solid orange;
    height: 500px;
    width: 100%;	  
}